$def with ()
<h2>Agregar Nuevo Contacto</h2>
<form method="POST" action="/contacto/insertar" style="max-width: 500px; margin-top: 20px;">
    <label>Nombre:</label>
    <input type="text" name="nombre" placeholder="Nombre completo" required>
    
    <label>Teléfono:</label>
    <input type="text" name="telefono" placeholder="Número telefónico" required>
    
    <label>Email:</label>
    <input type="email" name="email" placeholder="correo@ejemplo.com">
    
    <br><br>
    <button type="submit">Guardar Contacto</button>
</form>